/* =================ROOT========================*/
:root {
    --desat-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}
/* =================/ROOT========================*/


/* =================RESETS========================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}
/* =================/RESETS========================*/

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--desat-red);
    min-height: 100vh;
    background-image: url(./images/bg-pattern-desktop.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100vw;
    height: 100vh;
    max-width: 100em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10em;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 4em;
}

.title {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 15px;
    text-transform: uppercase;
    padding-top: 3rem;
}

.accent {
    font-weight: 600;
    color: black;
}

.info {
    padding-right: 3em;
    margin: 2em 0;
    font-weight: 400;
}


form {
    width: 100%;
}

input[name='email'] { 
    width: 100%;
    padding: 1em 2em;
    border-radius: 99999px;
    outline: none;
    border: 1px solid var(--desat-red);
}

.hero-image-container {
    background-image: url(./images/hero-desktop.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: inherit;
}


/* Frontend Mentor Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}